.prallax_hero {
    height: 100%;
    width: 100%;

}



.prallax_hero_title {
    position: absolute;
    width: 80%;
    top: 30%;
    left: 10%;
    padding: 1%;
    font-size: 100%;
    text-align: center;
    color: #9CC6B7;
    font-family: Arial Black;
    background-color: white;
    
}

.prallax_hero_title > h1{
    display: inline-block;
    vertical-align: middle;
    line-height: 50%;
    font-size: 300%;
}

.prallax_hero_title img {
    margin-left: 4%;
    display: inline-block;
    vertical-align: middle;
}







.content_container {
    width: 80% !important;
    max-width: 100% !important;
    min-height: 10% !important;
    margin-left: 10% !important;
    border-radius: 15px;
    background-image: url('../graphics/svg.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
}








article {
    position: relative;
    display: block;
    margin-left: 5% !important;
    margin-bottom: 10% !important;
    width: 63%;
    max-width: 800px;
    min-height: 150px;

    background-color: #CCCCCC;
    opacity: 0.5;
    border-radius: 6px;

}

article > *{
    
    padding-left: 1%;
    margin-left: 5%;
}


article > h2 {
    font-size: 200%;
    padding-top: 2%;
    color: #333333;
}

article > p, ul {
    font-size: 125%;
    color: #003300 !important;
    font-weight: bolder;
}

article > ul {
    list-style: decimal;
    font-weight: normal;
    padding-left: 2.5%;
}

article > li {
    position: relative;
}

.article_date {
    display: block;
    margin-right:5% !important;
    padding-bottom: 2.5% !important;
    font-weight: bold;
    text-align: right;
    color: #333333;
}



@media (max-width: 1140px) {
    .prallax_hero {
        height: 100%;
        width: 100%;
    
    }
    
    
    
    .prallax_hero_title {
        position: absolute;
        width: 80%;
        top: 30%;
        left: 10%;
        padding: 1%;
        font-size: 100%;
        text-align: center;
        color: #9CC6B7;
        font-family: Arial Black;
        background-color: white;
        
    }
    
    .prallax_hero_title > h1{
        display: inline-block;
        vertical-align: middle;
        line-height: 50%;
        font-size: 300%;
    }
    
    .prallax_hero_title img {
        margin-left: 4%;
        display: inline-block;
        vertical-align: middle;
    }
    
    
    
    
    
    
    
    .content_container {
        width: 90% !important;
        max-width: 100% !important;
        min-height: 10% !important;
        margin-left: 0% !important;
        border-radius: 15px;
        background-image: url('../graphics/svg.png');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 5%;
    }
    
    
    
    
    
    
    
    
    article {
        position: relative;
        display: block;
        margin-left: 0% !important;
        margin-bottom: 10% !important;
        width: 90%;
        max-width: 800px;
        min-height: 150px;
    
        background-color: #CCCCCC;
        opacity: 0.5;
        border-radius: 6px;
        padding: 5%;
    
    }
    
    article > *{
        
  
    }
    
    
    article > h2 {
        font-size: 200%;
        padding-top: 2%;
        color: #333333;
    }
    
    article > p, ul {
        font-size: 125%;
        color: #003300 !important;
        font-weight: bolder;
    }
    
    article > ul {
        list-style: decimal;
        font-weight: normal;
       
    }
    
    article > li {
        position: relative;
    }
    

}